version: '3.8'

services:
# LocalStack - Simula servicios AWS localmente
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-aws
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=sqs,sns,cloudwatch
      - DEBUG=1
      - PERSISTENCE=0
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - "localstack-data:/var/lib/localstack"
      #- "./init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh"
    networks:
      - microservices-network      
  rabbitmq:
    image: rabbitmq:3-management
    container_name: microservices-rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: microservices-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password123!
      - MSSQL_PID=Developer
    ports:
      - "1434:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    networks:
      - microservices-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "timeout 1 bash -c '</dev/tcp/localhost/1433' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: microservices-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - microservices-network
    restart: unless-stopped

volumes:
  sqlserver-data:
    driver: local
  rabbitmq-data:
    driver: local
  redis-data:
    driver: local
  localstack-data:
    driver: local    

networks:
  microservices-network:
    driver: bridge